# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2020 Linumiz
# Author: Parthiban Nallathambi <parthiban@linumiz.com>

config BOARD_XMC47_RELAX_KIT
	bool "Infineon XMC4700 Relax Kit"
	depends on SOC_SERIES_XMC_4XXX
	select SOC_PART_NUMBER_F144X2048
	select XMC4XXX_CCM
