/*
 * Copyright (c) 2020 Linumiz
 * Author: Parthiban Nallathambi <parthiban@linumiz.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv7-m.dtsi>
#include <dt-bindings/gpio/gpio.h>

/ {
	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			compatible = "arm,cortex-m4f";
			reg = <0>;
		};
	};

	aliases {
		gpio-0 = &gpio0; 	
	};

	soc {
		usic0ch0: usic@40030000 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40030000 0x1ff>;
			clocks = <&sysclk>;
			status = "disabled";
			interrupts = <84 0>, <85 0>;
			interrupt-names = "SR0", "SR1";
		};

		usic0ch1: usic@40030200 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x40030200 0x1ff>;
			clocks = <&sysclk>;
			status = "disabled";
			interrupts = <84 0>, <85 0>;
			interrupt-names = "SR0", "SR1";
		};

		usic1ch0: usic@48020000 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x48020000 0x1ff>;
			clocks = <&sysclk>;
			status = "disabled";
			interrupts = <90 0>, <91 0>;
			interrupt-names = "SR0", "SR1";
		};

		usic1ch1: usic@48020200 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x48020200 0x1ff>;
			clocks = <&sysclk>;
			status = "disabled";
			interrupts = <92 0>, <93 0>;
			interrupt-names = "SR0", "SR1";
		};

		usic2ch0: usic@48024000 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x48024000 0x1ff>;
			clocks = <&sysclk>;
			status = "disabled";
			interrupts = <98 0>, <99 0>;
			interrupt-names = "SR0", "SR1";
		};

		usic2ch1: usic@48024200 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x48024200 0x1ff>;
			clocks = <&sysclk>;
			status = "disabled";
			interrupts = <96 0>, <97 0>;
			interrupt-names = "SR0", "SR1";
		};
		};
	};
};

&nvic {
	arm,num-irq-priority-bits = <6>;
};
